<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Sample App</h1>
	
	<h2>This is a sample expo for rails</h2>

	<%= link_to "sign now", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"Rails"), 'http://verfino.com' %>